
.tweet-container{
    margin-left: 293px;
    color: var(--white-color);
    /* background-color: blue; */
    /* height: 180px; */
    width: 50%;
    position: relative;
    border-bottom: solid 2px var(--hover);
}

.tweet-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px white;
    position: absolute;
    top: 1px;
    left: 6px;
}

.tweet-input{
    margin-left: 75px;
    margin-top: -0.3rem;
    font-size: 17px;
    color: var(--white-color);
    background-color: transparent;
    /* border: solid 1px white; */
    border: none;
    outline: none;
    width: 80%;
    height: 8rem;
}

.tweet-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.img-btn{
    margin: 0 1rem;
    cursor: pointer;
}

.gif{
    margin: 0  2rem;
    border-radius: 50%;
    height: 20px;
    padding: 1px 3px;
    border: solid 1px white;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.img-gif-content{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    font-size: 18px;
    margin-bottom: 2rem;
}

.count-tweet-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -36px;
}

.text-limit{
    border: solid 1px white;
    border-radius: 50%;
    padding: 2px 2px;
    height: 20px;
}

.tweet-btn{
    font-size: 16px;
    margin: 0 2rem;
    background-color: #1581fc;
    border: none;
    padding: 10px 20px 10px 16px !important;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.tweet-btn:hover{
    background-color: #055fc5;
}


.post-img-pic{
    width: 90%;
    height: 250px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
}

.cancel-image{
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    right: 71px;
    bottom: 17.3rem;
    cursor: pointer;
}   

