
.message-container{
    margin-left: 293px;
    color: var(--white-color);
    width: 50%;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
    /* border-top: solid 2px var(--hover); */
    border-bottom: solid 2px var(--hover);
}

.post-message-img{
    width: 90%;
    height: 250px;
    margin-top: 1rem;
}

.msg-img{
    width: 42px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.msg-input{
    margin-left: 60px;
}

.msg-sender{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-user{
    display: flex;
    align-items: center;
}

.msg-id{
    margin-right: 0.5rem;
    font-size: 18px;
    font-weight: 600;
}

.msg-id-two{
    font-size: 15px;
    color: #dad9d9;
}

.msg-text{
    margin-top: 1rem;
    word-wrap: break-word;
    margin-right: 2.3rem;
}

.msg-icons{
    display: flex;
    justify-content: space-between;
    padding-right:  40px;
    margin-top: 1.5rem;
}

.action-icons{
    cursor: pointer;
}

.red-heart{
    color:red;
}

.fa-heart {
    margin-right: 4px;
}

.blue-bookmarked{
    color: #0077ff;
}

.delete-btn{
    color: var(--white-color);
    margin-right: 2.6rem;
    cursor: pointer;
}

.delete-btn:hover{
    color: red;
}