@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --black-color: black;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--black-color);
    height: 100vh;
}

p{
    margin: 0;
    padding: 0;
}
small{
    margin: 0;
    padding: 0;
}